
* {
  box-sizing: border-box;
}

/* Style the body */
body {
  font-family: 'Karla';
  margin: 0;
  font-size: 110%;
}

/* Header/logo Title */
.header {
  padding: 80px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/fs/9811c854238833.595330bfa87e3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #cccccc;
  color: #ECF0F1;
  
}

/* Increase the font size of the heading */
.header h1 {
  font-size: 40px;
}

/* Style the top navigation bar */
.navbar {
  overflow: hidden;
  background-color: #808080;
}

/* Style the navigation bar links */
.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

/* Right-aligned link */
.navbar a.right {
  float: right;
}

/* Change color on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Column container */
.row {  
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  background-color: #ECF0F1;
  padding-right: 50px;
  padding-left: 50px;
  text-align: center;
  border-right: 1px solid #839192;
}

/*Justify the bio text*/
p.bio {
  text-align: justify;
  font-size: 110%
}

/* Social Media Buttons*/
.fa {
  padding: 30px;
  font-size: 20px;
  margin: 10px;  
  text-align: center;
  text-decoration: none;
}

.fa:hover {
    opacity: 0.7;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

/*Centering sidebar image*/
.bioImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  max-width: 400px;
  border: 3px solid #839192
}

/* Main column */
.main {   
  -ms-flex: 75%; /* IE10 */
  flex: 75%;
  background-color: #FBFCFC;
  padding-right: 90px;
  padding-left: 40px;
}

/* Fake image, just for this example */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
}


/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1000px) {
  .row {   
    flex-direction: column;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}